# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.jfm
*.jfm

*.jfm
*.jfm
.vs/
/.vs/GameBook/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-shm
/.vs/GameBook/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-wal
/.vs/GameBook/v17/.suo
/.vs/GameBook/v17/DocumentLayout.backup.json
/.vs/GameBook/v17/DocumentLayout.json
/GameBook.Server/bin/Debug/net8.0/GameBook.Server.dll
/GameBook.Server/bin/Debug/net8.0/GameBook.Server.exe
/GameBook.Server/bin/Debug/net8.0/GameBook.Server.pdb
/GameBook.Server/bin/Debug/net8.0/spa.proxy.json
/GameBook.Server/obj/Debug/net8.0/ref/GameBook.Server.dll
/GameBook.Server/obj/Debug/net8.0/refint/GameBook.Server.dll
/GameBook.Server/obj/Debug/net8.0/staticwebassets/msbuild.build.GameBook.Server.props
/GameBook.Server/obj/Debug/net8.0/apphost.exe
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.AssemblyInfo.cs
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.AssemblyInfoInputs.cache
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.assets.cache
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.csproj.AssemblyReference.cache
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.csproj.CoreCompileInputs.cache
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.csproj.FileListAbsolute.txt
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.dll
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.GeneratedMSBuildEditorConfig.editorconfig
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.genruntimeconfig.cache
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.pdb
/GameBook.Server/obj/Debug/net8.0/GameBook.Server.sourcelink.json
/GameBook.Server/obj/Debug/net8.0/spa.proxy.json
/GameBook.Server/obj/Debug/net8.0/staticwebassets.build.json
/GameBook.Server/obj/GameBook.Server.csproj.nuget.dgspec.json
/GameBook.Server/obj/GameBook.Server.csproj.nuget.g.props
/GameBook.Server/obj/project.assets.json
/GameBook.Server/obj/project.nuget.cache
