:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}
a:hover {
    cursor: pointer;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.table,
.table-row,
.table-cell {
    border-collapse: collapse;
    border: 1px solid;
}

.table {
    border: none;
}

.table-cell {
    padding: 12px;
}

.table-caption {
    text-align: left;
    padding-bottom: 16px;
    font-weight: bold;
    overflow: visible;
    white-space: nowrap;
}

.button {
    padding: 8px;
    background-color: transparent;
    border: 1px #535bf2 solid;
    border-radius: 8px;
    white-space: nowrap;
    user-select: none;
}

.button:hover {
    background-color: #535bf2;
    cursor: pointer;
    transition-duration: 0.3s;
    color: white;
}

.leftmenu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(300px - 2 * 8px);
    background-color: #1a1a1a;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.button--danger {
    color: #dc3545;
    border: 1px #dc3545 solid;
}

.button--danger:hover {
    background-color: #dc3545;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.dropdown--hidden {
    display: none;
}

.dropdown__item::before {
    content: "↳";
}

.table-image {
    height: 100px;
}

.status-label {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.warning-label {
    color: #fccf00;
}

.error-label {
    color: red;
}
