:root{
    --red: #B54242;
    --yellow: #e7d13d;
    --green: #3cd43c;
    --orange: #f5c030;
}

.map{
    position: absolute;
    top: 1rem;
    right: 2rem;

    background-color: bisque;
    padding: 1rem 2rem 1rem 2rem;
}

body{
    background-image: url('../images/home.jpg');
}

.NetopyriVarle {
    width: 100%;
    height: 100vh;
}