@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic");

:root {
    --red: #b54242;
    --yellow: #e7d13d;
    --green: #88ff00;
    --green-transparent: #88ff00bb;
    --orange: #f5c030;
}

body {
    /* background-image: url("https://img.stablecog.com/insecure/1920w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vZGNjNGRkNzktOTdmMy00MzQ1LTg2MzQtNGU3Yzg2YTEzNWNiLmpwZWc.webp"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    font-family: monospace;
}

.NetopyriVarle {
    width: 100%;
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

.title {
    -webkit-text-stroke: 1px #000000;
}

.menubuttonvec {
    font-family: monospace;
}
