.menubar{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: start; */
    color: white;

    position: absolute;
    left: 20%;
    bottom: 15%;
}

.link{
    color: var(--green);
    font-size: 2rem;
}

.link:hover{
    color: var(--yellow);
}

.p{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.p:hover{
    color: var(--yellow);
}