.menubar {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: start; */
    color: white;

    position: absolute;
    left: 20%;
    bottom: 15%;
}

.link {
    color: var(--green);
    font-size: 2rem;
}

.link:hover {
    color: var(--green);
}

.TITLE{
    font-size: 5rem;
    color: var(--green);
    -webkit-text-stroke: 1px #000000;

    position: absolute;
    top: 20%;
    left: 20%;
}

.link:hover::before {
    content: ">";
    color: var(--green);
}

.p {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.p:hover {
    color: var(--yellow);
}
