.menu {
    /* position: absolute;
    top: 1rem;
    right: 2rem; */

    position: absolute;
    /* right: 2rem; */
    width: 100%;

    /* padding: 1rem 2rem 1rem 2rem; */
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50vh);
}

.menu button {
    margin: 2rem 2rem -1rem 0;
}

.map {
    background-color: var(--green-transparent);
}
