h4{
    color: var(--green);
    margin: 0;
    padding: 0;
}

.link{
    color: var(--green);
}

.link:hover{
    color: var(--yellow);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: start;

    position: absolute;
    left: 2rem;
    bottom: 2rem
}

.ul{
    margin: 0;
}