.hp{
    color: var(--red);
}
.energy{
    color: var(--yellow);
}
.radiation{
    color: var(--orange);
}
.money{
    color: var(--green);
}

.stats{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 700;
    top: 1rem;
    left: 2rem;
}

.stats p{
    margin: .5rem;
}